.link-button-component {
  /* background-color: blue; */
  /* margin-top: 30px; */
  width: 150px;
  height: 50px;
  border: 2px solid var(--celeste);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-button-component .button {
  text-decoration: none;
  color: var(--celeste);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  font-size: 1.2rem;
}

.link-button-component .button:hover {
  background-color: var(--celeste);
  color: #fff;
}
