.img-porfolio-container{
  width: 100%;
}

.img-porfolio-container > img {
  width: 100%;
}

.card-container {
  color: #fff;
  text-align: center;
  background-color: rgba(155, 152, 152, 0.233);
  padding: 20px;
  border-radius: 5px;
  transition: 0.3s;
}

.card-container:hover {
  background-color: rgba(99, 98, 98, 0.233);
  color: var(--verde-oscuro);
}

.tecnologia-list {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.tecnologia-list h2 {
  font-size: 0.8rem;
}

.card-container .info-container h1 {
  font-size: 1.7rem;
}
