.img-porfolio-container{
  width: 100%;
  background-color: #fff;
  padding: 10px 20px;
  border: 1px solid transparent;
  transition: .3s;
}

.img-porfolio-container:hover {
  border: 1px solid var(--verde-oscuro)
}

.img-porfolio-container > img {
  width: 100%;
}

.card-container {
  color: var(--texto);
}

.link-id {
  margin-top: 10px;
  text-decoration: none;
  color: var(--verde-oscuro);
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  transition: .3s;
}

.link-id:hover {
  color: #b30f0f;
}

.tecnologia-list {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.tecnologia-list h2 {
  font-size: 0.8rem;
}

.card-container .info-container h1 {
  font-size: 1.7rem;
}
