.img-porfolio-container{
  width: 100%;
  background-color: rgba(155, 152, 152, 0.233);
  padding: 20px 40px;
}

.img-porfolio-container > img {
  width: 100%;
}

.card-container {
  color: #fff;
}

.link-id {
  margin-top: 10px;
  text-decoration: none;
  color: var(--verde-oscuro);
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  transition: .3s;
}

.link-id:hover {
  color: #02706b;
}

.tecnologia-list {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.tecnologia-list h2 {
  font-size: 0.8rem;
}

.card-container .info-container h1 {
  font-size: 1.7rem;
}
