/* section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 100px;
} */

@media (max-width:1200px) {
    section {
        padding: 100px 50px;
    }
}

@media (max-width:600px) {
    section {
        padding: 125px 30px;
    }
}

.box-video {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: aliceblue;
    text-align: center;
}

.box-video video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.box-video video section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 3;
}