.card-reverse {
  display: grid;
  gap: 2rem;
  padding: 50px 0;
}

.card-reverse .video-component-r video {
  width: 100%;
}

.card-reverse .card-parrafo div h1 {
  margin-bottom: 25px;
}

.card-reverse .card-parrafo div p {
  font-size: 1.2rem;
}

.card-reverse .card-parrafo .grid-card-numbers {
  display: grid;
  gap: 1rem;
}

.card-reverse .card-parrafo .grid-card-numbers .card-number {
  background-color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 450px) {
  /* .card-reverse {
    grid-template-columns: repeat(2, 1fr);
  } */
  .card-reverse .card-parrafo .grid-card-numbers {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 990px) {
  .card-reverse {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-reverse .card-parrafo .grid-card-numbers {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 560px) {
  .card-reverse {
    padding: 0 20px;
  }
}
