.section-card-contact-container {
  background-color: var(--texto);
  padding: 20px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-card-contact-container .title-section-card {
    max-width: 800px;
  color: var(--background-oscuro);
}
.section-card-contact-container .title-section-card h1 {
    letter-spacing: 0;
    margin-bottom: 30px;
}
.section-card-contact-container .title-section-card h1 span .star {
    font-size: 2rem;
}


.section-card-contact-container .title-section-card p {
    color: var(--background-oscuro);
    max-width: 700px;
}

@media (max-width: 1000px) {
    .section-card-contact-container {
        flex-direction: column;
    }
    .section-card-contact-container .title-section-card {
        margin-bottom: 40px;
    }
}

@media (max-width: 400px) {
    .section-card-contact-container {
padding: 10px 20px;
    }
    .section-card-contact-container .title-section-card h1 {
        line-height: 40px;
    }
}