.grid-section-comment {
    display: grid;
    gap: 2rem;
    align-items: center;
    padding: 60px 0;
}

.comillas {
    color: var(--texto);
}
.grid-section-comment .frase-container {
    line-height: 40px;
}

.grid-section-comment .frase-container .title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.grid-section-comment .frase-container .title .star {
    font-size: 1.7rem;
}

.grid-section-comment .frase-container .frase-p {
    font-size: 2.3rem;
}

.grid-section-comment .video-comment video{
width: 100%;
}
@media (min-width: 650px) {
  .grid-section-comment {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 990px) {
  .grid-section-comment {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 560px) {
  .grid-section-comment {
    padding: 0 20px;
  }
}
