footer {
  background-color: #0f0f0f;
  /* max-width: 1200px; */
  margin: 0 auto;
}

.columns-container {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
}

.columns-container .column ul:nth-child(1) img {
  width: 50%;
}

.columns-container .column h1 {
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 30px;
}

.columns-container .column ul a {
  color: #fff;
  text-decoration: none;
  font-size: 1.23rem;
  text-transform: capitalize;
  transition: 0.3s;
}

.columns-container .column ul a:hover {
  color: #ffffffe1;
}

.columns-container .column ul p {
  color: #fff;
  text-decoration: none;
  font-size: 1.05rem;
  text-transform: capitalize;
  /* font-weight: 400; */
}

.helper-line {
  height: 1px;
  background-color: #fff;
  margin: 30px 30px;
}

footer .icons-links {
  width: 100%;
  padding-bottom: 50px;
  text-align: center;
  font-size: 2.3rem;
}

footer .icons-links .icon-footer {
  color: #fff;
  transition: 0.3s;
}
footer .icons-links .icon-footer:hover {
  color: var(--verde-oscuro);
}
footer .text-footer {
  width: 100%;
  text-align: center;
  color: #fff;
}
@media (min-width: 650px) {
  .columns-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
  }
}

@media (min-width: 990px) {
  .columns-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 650px) {
  .columns-container {
    padding: 0 20px;
  } 

  .columns-container .column ul:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .columns-container .column ul:nth-child(1) img {
    width: 50%;
  }
}
