.hero-section {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 40px;
}

.hero-section .hero-section-container {
  color: #fff;
  padding-top: 50px;
}

.hero-section .hero-section-container .hero-contain h1 {
  max-width: 750px;
  font-size: 83px;
  line-height: 80px;
  margin-bottom: 30px;
}
.hero-section div .hero-contain p {
  max-width: 550px;
  line-height: 1.6rem;
  font-size: 15pt;
}

span {
  color: var(--celeste);
}

@media (max-width: 700px) {
  .hero-section {
    padding: 0 20px;
  }
  .hero-section .hero-section-container .hero-contain {
    text-align: center;
  }
  .hero-section .hero-section-container .hero-contain h1 {
    width: 100%;
    font-size: 4rem;
    line-height: 60px;
  }

  .hero-section .hero-section-container .hero-contain p {
    font-size: 1.2rem;
  }
  .button-container {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 400px){
  .hero-section .hero-section-container .hero-contain h1 {
    font-size: 3.4rem;
    line-height: 50px;
  }
}