.mobile-container .hero-project-container {
  display: none;
}
.mobile-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  /* gap: 1rem;
  grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 50px;
  justify-content: center;
}

.mobile-container figcaption,
img {
  width: 100%;
}

@media (max-width: 900px) {
  .mobile-container .hero-project-container {
    display: block;
  }
  .mobile-container .desk-project-container {
    display: none;
  }
}
