.mobile-container .hero-project-container {
  display: none;
}
.mobile-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  /* gap: 1rem;
  grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 50px;
  justify-content: center;
}

.resumen-proyect-wrapper {
  background-color: var(--texto);
  min-height: 100vh;
  width: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resumen-proyect-wrapper > div > .title-resumen-proyect-wrapper,
.resumen-resumen-proyect-wrapper {
  color: aliceblue;
}

.resumen-proyect-wrapper > div > .title-resumen-proyect-wrapper,
.info-resumen-proyect-wrapper {
  margin-bottom: 20px;
}

.resumen-proyect-wrapper > div > .resumen-resumen-proyect-wrapper {
  font-size: 18px;
  line-height: 40px;
}

.resumen-proyect-wrapper > div > .info-resumen-proyect-wrapper {
  color: var(--verde-oscuro);
  font-size: 30px;
}

.mobile-container figcaption,
img {
  width: 100%;
}

.description-info-wrapper{
  margin-top: 50px;
}
.description-info-wrapper .title-description-info-wrapper {
  color: var(--verde-oscuro);
  font-size: 30px;
  margin-bottom: 10px;
}

.description-info-wrapper .resumen-description-info-wrapper {
  margin-bottom: 30px;
}

@media (max-width: 900px) {
  .mobile-container .hero-project-container {
    display: block;
  }
  .mobile-container .desk-project-container {
    display: none;
  }
}

@media (max-width: 700px) {
  .mobile-container .description-mobile .list-container,
  .resumen-proyect-wrapper > div {
    margin: 20px 20px;
  }

  .description-info-wrapper  {
    margin: 50px 20px;
  }
}
