.icon-dark {
  color: #fff;
}

.header-container {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.header-container.active {
  background-color: var(--background-oscuro);
}

.header-container section {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
  /* position: fixed;
  width: 100%; */
}

.logo {
  max-width: 4.4rem;
}
.nav-list { 
  list-style-type: none;
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.nav-list li a {
  text-transform: capitalize;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
}

.nav-list li a:hover {
  color: rgb(124, 128, 131);
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

@media screen and (max-width: 727px) {
  .abrir-menu,
  .cerrar-menu {
    display: block;
    font-size: 1.4rem;
  }
  .nav-container {
    opacity: 0;
    visibility: hidden;
  }

  .nav-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-oscuro);
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    z-index: 999999999;
  }

  .nav-container.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav-list {
    flex-direction: column;
    align-items: end;
    /* height: 100vh; */
  }
}
