.portfolio-container .grid-portfolio-container {
  display: grid;
  max-width: 1000px;
  margin: 0 auto;
  gap: 2rem;
}

@media (min-width: 650px) {
  .portfolio-container .grid-portfolio-container {
    grid-template-columns: repeat(2, 1fr);
 
  }
}

@media (min-width: 990px) {
  .portfolio-container .grid-portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 560px) {
  .portfolio-container .grid-portfolio-container {
    padding: 0 20px;
  } 
}
