section {
  background-color: var(--background-oscuro);
}

section .services-grid-container {
  display: grid;
  gap: 2rem;
}

@media (min-width: 600px) {
  section .services-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  section .services-grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
