section .services-grid-container {
  display: grid;
  gap: 2rem;
}

@media (min-width: 550px) {
  section .services-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 750px) {
  section .services-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) {
  section .services-grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 560px) {
  section .services-grid-container {
    padding: 0 20px;
  } 
}
